<?xml version="1.0" encoding="UTF-8"?>

<suite name="Login Suite">
  <test thread-count="5" name="Login Test">
    <classes>
		<class name="testcases.loginfw"/>
		  <class name="testcases.invalidlogin"/>
	      <class name="testcases.nocredentials"/>
	  
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
